@import url("https://fonts.cdnfonts.com/css/futura-md-bt");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Futura Md BT", sans-serif;
}
* {
  font-family: "Futura Md BT", sans-serif;
}
body {
  overflow: hidden;
}

@layer components {
  .input-primary {
    @apply w-[477px] h-[55px] rounded-[50px] pl-9 text-[25px] placeholder-[#083F46] text-[#083F46] focus:outline-none mb-10;
  }
  .btn-primary {
    @apply rounded-[50px] border-[1px] text-[25px];
  }
  .radio-input {
    @apply mr-3 appearance-none border-[1px] p-[5px] rounded-full checked:bg-white;
  }
  .grid-style {
    @apply grid grid-cols-[0.7fr_1.7fr_1fr_1.6fr_1.5fr_0.7fr] text-center;
  }
  .modal-container {
    @apply fixed top-0 left-0 w-screen h-screen bg-[#00000099] backdrop-blur-[7px] z-10 flex justify-center items-center;
  }
  .modal {
    @apply bg-white text-center p-12 pb-6 rounded-[2rem] w-[600px] font-normal text-[30px];
  }
  .modal-btn {
    @apply w-max mx-4 py-2 px-6 rounded-[2rem] bg-[#083f46] text-[23px] text-white my-7;
  }
  .edit-contact {
    @apply text-center border-r-2 border-r-[#083f46] bg-[#0b545e2d] py-1 px-3;
  }
}
